/**
 * Généralités du layout de la pattern
 */
.dfwp_pattern_h1 {
  font-size: 45px;
  font-weight: bold;
  line-height: normal;
  color: #161616;
  font-family: Arial, Helvetica, sans-serif;
  margin: 30px 0;
}
.dfwp_pattern_h2 {
  font-size: 30px;
  line-height: normal;
  color: #222222;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px 0;
}
.dfwp_pattern_h3 {
  font-size: 20px;
  line-height: normal;
  color: #222222;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 0;
}
.dfwp_pattern_container .dfwp_pattern_section {
  clear: both;
  *zoom: 1;
  margin: 0 0 100px 0;
}
.dfwp_pattern_container .dfwp_pattern_section:after {
  content: "";
  display: table;
  clear: both;
  border-collapse: collapse;
}
.dfwp_pattern_container .dfwp_pattern_section .dfwp_pattern_subsection {
  clear: both;
  *zoom: 1;
  margin: 0 0 50px 0;
}
.dfwp_pattern_container .dfwp_pattern_section .dfwp_pattern_subsection:after {
  content: "";
  display: table;
  clear: both;
  border-collapse: collapse;
}
.dfwp_pattern_container .dfwp_pattern_section .dfwp_pattern_subsection .dfwp_valuecode_container {
  margin: 5px;
}
.dfwp_pattern_container .dfwp_pattern_section .dfwp_pattern_subsection .dfwp_valuecode_container .dfwp_pattern_value {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
}
.dfwp_pattern_container .dfwp_pattern_section .dfwp_pattern_subsection .dfwp_valuecode_container .dfwp_pattern_code {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
}
.dfwp_pattern_container .dfwp_pattern_section .dfwp_pattern_subsection .dfwp_valuecode_container .dfwp_pattern_code pre {
  tab-size: 4;
  padding: 1em;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fffde1;
  width: auto;
  max-width: 400px;
  word-wrap: break-word;
  font-family: "Courier New", Courier, monospace;
  color: #000;
}
